body {
    font-family: Arial,  sans-serif; /* Rodzina czcionek */
    font-size: 15px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #323ab3; /* Kolor tła strony internetowej */
    color: #4d8682; /* Kolor tła strony internetowej*/ 
}
h1 {
    color: #c749ee; /* Kolor nagłówka */
    font-size: 24px; /* Rozmiar czcionki nagłówka */
    font-family: Georgia, serif; /* Rodzina czcionek używana w nagłówku */
}   